Page {
  background-color: white;
  font-size: 15px;
}
TextField {
  padding: 10px;
  font-size: 13px;
}
.small-spacing {
  margin: 5px;
}
.medium-spacing {
  margin: 10px;
}
.use-half {
  width: 50%;
}
.margin-top-small {
  margin-top: 5px;
}
